*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
width: 50%;
display: flex;
justify-content: flex-end; /* Alineación a la derecha en escritorio */
}

.logo img {
width: 100px;
height: 100px;
padding: 10px;
margin-right: 400px; /* Margen derecho en escritorio */
}

@media (max-width: 858px) {
.logo {
  margin-right: 20px;
}

.logo img {
  margin-right: 0; 
}
}
nav{
  margin: 10px 0;
  background: #ffffff;
  height: 80px;
  width: 100%;
  display: flex;
}

nav ul{
  width: max-content;
  padding: 25px 0;
  display: flex;
  margin-top: 30px;
  background-color: #555;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
 

}
nav ul li a{
  color: #ffffff;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover{
  background: #979797;
  transition: .3s;
  text-decoration: none;
}

.checkbtn{
  font-size: 30px;
  color: #030303;
  float: left;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
      margin: 0  20px;

  }
  ul{
      padding: 100px 0;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      width: 100%;
      top: 95px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 3;
  }
  nav ul li{
      line-height: 30px;
      margin: 62px 0;
      

  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: rgb(0, 0, 0);
  }
  #check:checked ~ ul{
      left:0;
  }
}

  .redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 10px;
  }
  
  .social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .social-button:hover {
    background-color: #555;
  }
  
  .social-button i {
    font-size: 20px;
  }
  .carousel-item img {
    width: 800px;
    height: 800px;
    margin-top: 70px;

  }